#wrapper, #wrapper.home {
  max-width: 800px;
}

body {
	font:17px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav.main-nav a {
    color: #bc1422;
}

nav.main-nav a.active {
    color: white;
    background-color: #bc1422;
}

nav.main-nav a.cta {
    background: #b75d65;
}

a,
#title,
#post-list a:hover,
#post-list li:hover .dates,
#title:hover {
    color: #bc1422;
}

p a { color: #bc1422; }

#post-list.archive.readmore a {
    color: #bc1422;
}

a.symbol:hover {
    color: #b75d65;
}

#post-list h2 {
    max-width: 600px;
}

#post-list h2.portfolio {
    max-width: inherit;
}

footer p.credits img {
    height: inherit;
    width: inherit;
    vertical-align: text-bottom;
}

footer p.credits a {
    color: inherit;
}

p.twitter-timeline {
    text-align: center;
}