#wrapper, #wrapper.home {
  max-width: 800px;
}

body {
	font-size:20px;
    font-family: 'Crimson Text', Helvetica, Arial, sans-serif;
}

nav.main-nav a {
    color: #bc1422;
    font-size: 16px;
    font-family: 'Quattrocento Sans', sans-serif;;
}

nav.main-nav a.active {
    color: white;
    background-color: #bc1422;
}

nav.main-nav a.cta {
    background: #b75d65;
}

a,
#title,
#post-list a:hover,
#post-list li:hover .dates,
#title:hover {
    color: #bc1422;
}

#post-list a {
    font-size:20px;
}

p a { color: #bc1422; }

#post-list.archive.readmore a {
    color: #bc1422;
}

a.symbol:hover {
    color: #b75d65;
}

.profile h1 {
    font-size:28px;
    font-family:'Quicksand', sans-serif;
}

h3 {
    font-weight:bold;
    font-size:18px;
}


#post-list h2, #post-list h2.portfolio {
    font-size:19px;
}

h1, .post h1, .post h2, #post-list a, h3, #post-list.archive.readmore h3, h4 {
    font-family: 'Quattrocento Sans', sans-serif;
}

#post-list.archive.readmore a, figcaption h4 {
    
    max-width: 600px;
    font-family: 'Quattrocento Sans', sans-serif;
}

#post-list h2, #post-list h2.portfolio {
    font-family: 'Crimson Text', sans-serif;
}

.profile h2 {
    font-family: 'Quicksand', sans-serif;
}

footer p.credits img {
    height: inherit;
    width: inherit;
    vertical-align: text-bottom;
}

footer p.credits a {
    color: inherit;
}

#social a {
    margin-left: 5px;
    margin-right: 5px;
}

p.twitter-timeline {
    text-align: center;
}

#post-list .dates .fa {
    font-size: 40px;
}

img {
	width: auto;
    max-width: 100%;
    border: solid 1px #ddd;
    display: block;
    margin: auto;
}

figcaption h4, figcaption p {
    width: auto;
    max-width: 100%;
    display: block;
    text-align: center;
}

figcaption p {
    font-size: 10px;
    margin-top: -15px;
}

#logo {
    border: none;
}


#post-body div {
    margin-bottom: 15px;
}

.post h2 {
    margin-top: 30px;
    margin-bottom: 15px;
}

/* Quicksand */

/* latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvW1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/*Quattrocento Sans */
/* latin-ext */
@font-face {
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Quattrocento Sans'), local('QuattrocentoSans'), url(https://fonts.gstatic.com/s/quattrocentosans/v9/efd6FGWWGX5Z3ztwLBrG9T48MEBspdEKklcQvcIk8pU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Quattrocento Sans'), local('QuattrocentoSans'), url(https://fonts.gstatic.com/s/quattrocentosans/v9/efd6FGWWGX5Z3ztwLBrG9cZ4HySTEWshgORbPp2tk8k.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/*Quattrocento*/
/* latin-ext */
@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  src: local('Quattrocento'), url(https://fonts.gstatic.com/s/quattrocento/v8/WZDISdyil4HsmirlOdBRFD0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  src: local('Quattrocento'), url(https://fonts.gstatic.com/s/quattrocento/v8/WZDISdyil4HsmirlOdBRFOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Crimson Text */
/* latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: local('Crimson Text'), local('CrimsonText-Roman'), url(https://fonts.gstatic.com/s/crimsontext/v6/3IFMwfRa07i-auYR-B-zNegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.at-a-glance table, .overview table {
    border: solid 2px #bc1422;
    font-size: 20px;
    font-family: Quicksand;
    color: black;
}

.at-a-glance th, .overview table th {
    background-color: #bc1422;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    
}

.at-a-glance th:nth-child(even), .overview table th:nth-child(even) {
    text-align: right;
    font-size: 26px;
}

.at-a-glance tr:nth-child(even) {
    background-color: #eeeeee;
}

.at-a-glance td:nth-child(odd) {
    color: #6d6d6d;
    font-size: 14px;
    text-transform: uppercase;
}

