<nav class="main-nav">
	{{ $currentURL := .RelPermalink }}
	{{ $currentSection := .Section }}
	{{ $baseURL := .Site.BaseURL }}
	{{ range $menu := .Site.Params.sectionMenus }}
		{{ $menuURL := printf "/%s/" $menu}}
		<a class="{{if or (eq $currentURL $menuURL) (eq $currentSection $menu) }}active{{end}}" href="{{$baseURL}}/{{ $menu }}">{{ humanize $menu }}</a>
	{{ end }}

	<a class="{{if and (eq .Section "about") }}active{{end}}" href="{{.Site.BaseURL}}/about">About</a>
	<a class="{{if and (eq .Section "contact") }}active{{end}}" href="{{.Site.BaseURL}}/contact">Contact</a>

	{{ if .Site.Params.enableRSS }}
		<a class="symbol" href="{{ .Site.RSSLink }}">{{ with .Site.Params.subscribe }}{{ . }}{{ else }}<i class="fa fa-rss"></i>{{ end }}</a>
	{{ end }}
</nav>