	{{ partial "head.html" . }}
	<body>
	{{ partial "nav.html" . }}
	{{ partial "profile.html" . }}

	<section id="wrapper" class="home">

		{{ partial "post-list.html"  . }}
        {{ partial "pagination.html" . }}

		<p class="twitter-timeline">
			<a class="twitter-timeline" data-chrome="noborders" data-width="520" data-height="500" href="https://twitter.com/CelineLenoble">Tweets by CelineLenoble</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</p>

		{{ partial "footer.html" . }}
	</section>

	{{ partial "js.html" . }}
	</body>
</html>
